# 日志
logs
*.log

# 运行时产生的数据
pids
*.pid
*.seed

# jscoverage/JSCover 库生成的目录
lib-cov

# istanbul之类的工具生成的覆盖目录
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# 编译的二进制插件 (http://nodejs.org/api/addons.html)
build/Release

# 用户环境变量
.lock-wscript

# 系统生成文件 #
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node Files #
/node_modules/
/bower_components/
npm-debug.log
/npm-debug.log.*

# Coverage 覆盖文件 #
/coverage/

# Typing 文件#
/src/typings/tsd/
/typings/
/tsd_typings/

# Dist 生成的文件 #
/dist
/public/__build__/
/src/*/__build__/
/__build__/**
/public/dist/
/src/*/dist/
/dist/**
/.awcache
.webpack.json
/compiled/
dll/

# Doc 文档 #
/doc/

# IDE 配置文件#
.idea/
*.swp
.vscode/
.project


# Angular #
*.ngfactory.ts
*.css.shim.ts
*.ngsummary.json
*.shim.ngstyle.ts

# yarn
yarn.lock
